EMAIL=my-email@email.com
LINKEDIN_PROFILE_URL=https://linkedin.com/in/user_name
PUBLIC_SITE_URL=https://your-domain.com
GH_PROFILE_URL=https://github.com/user_name
PUPPETEER_EXECUTABLE_PATH=/Applications/Google Chrome.app/Contents/MacOS/Google Chrome
NAME=Your Name